html, body { height: 100%; }

body
{
  font-family: Tahoma;
	background-color: white;
}

#wrap{
  min-height: 100%;
  background-color: white;
	font-size: 15px;
	background-image: url("img/bottom_shadow.png");
	background-repeat: repeat-x;
  background-position: center bottom;
}

.container
{
	width: 922px;
	margin: 0px auto;
}

.clear{
  width: 100%;
  clear: both;
  height: 0px;
}

#top_background{
  background: url("img/top_pattern.png") repeat-x;
}

#top{
	height: 169px;
	background: url("img/header.png") top left no-repeat;
}

#header{
  padding: 12px 0 0 25px;
  width: 250px; text-align: center;
}

#header .name{
	font-size: 24px;
	color: #caec72;
}

#header .adress{
  font-size: 12px;
	color: white;
}
#logo{
  width: 120px;
  height: 80px;
  background-image: url("img/tea.png");
  float: right;
  position: absolute;
  top: 0px;
  margin-left: 300px;
}
#menu{
	width: 100%;
	height: 32px;
	margin-top: 78px;
	padding-left: 19px;
}


#menu a{
	height: 32px;
	line-height: 32px;
	width: 123px;
	background: url("img/menu.png") top left no-repeat;
	background-position: -123px 0;
	float: left;
	margin-left: 3px;
	text-decoration: none;
	color: #1e1e1d;
	font-size: 12px;
	text-align: center;
}

#top #menu a:hover, 
#top #menu a.active{
	background-position: 0px 0;
	text-decoration: underline;
}

#middle{
	background: url("img/top_shadow.png") top left no-repeat;
	font-size: 12px;
	line-height: 18px;
}

#content{
  padding: 10px 28px 0 28px;
}


#footer{
  bottom: 0px;
  clear: both;
  height: 56px;
  position: relative;
	background-image: url("img/bottom_pattern.gif");
	background-repeat: repeat-x;
  width: 100%;
  margin: -56px auto 0 auto;  
}

#bottom{
  height: 56px;
  font-size: 12px;
	background: url("img/bak_18.png") no-repeat;
}

#bottom_left{
	float: left;
	padding-left: 28px;
	padding-top: 8px;
}

#bottom_right{
  float: right;
  text-align: right;
  padding-right: 28px;
  padding-top: 8px;
}
.part img{
float: left;
}
.part li{
  background: url('img/arrow.gif') no-repeat left 3px;
  list-style-type: none;
  padding-left: 24px;
  line-height: 22px;
}
.part h2{
  color: #2c2c27;
  font-size: 24px;
  font-weight: normal;
  text-decoration: underline;
}
.part a{
color: #5e8705;
}

#bottom a {
color: #2c2c27;
}
.bottom_image{
  position: absolute;
  margin-left: 820px;
  bottom: 52px;
}
